<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversify - Learn French Subjunctive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <div class="container">
            <h1><a href="{{ url_for('index') }}">Conversify</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('learn') }}">Learn</a></li>
                    <li><a href="{{ url_for('practice') }}">Practice</a></li>
                    <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
                </ul>
            </nav>
        </div>
    </header>    

    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

   <footer class="footer">
    <p>&copy; 2024 Conversify</p>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>